$base_color: #efcca3;
.container{
    background-color: #FFF;
padding-top: 20px;
    .about{
        color: #000000;
        text-align: center;
        .imgContainer{
            display: flex;
            width: 142px;
            height: 142px;
            border: solid px $base_color;
            border-radius: 131px;
            margin: 15px;
            box-shadow: $base_color 9px -9px 20px 2px;
            img{
                justify-content: center;
                align-items: center;
            }
        }
        .name{
            font-weight: bold;
            font-size: 28px;
            align-items: center;
        }
        .subget{
            font-style: italic;

        }

    }
    .tree{
        .cont{
            margin-left: 2px;
            margin-right: 2px;
        }
        display: flex;
        justify-content: center;
        .link{
            background-color: #efcca369;
            border-radius: 100%;
            padding: 8px;
            text-decoration: none;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; 

            img{
                width: 30px;
                height: 30px;
            }

            .link-text{
                color: #FFF;
                padding-left: 12px;
                margin-top: 10px;
                font-size: 22px;
            }
        }
    }

    .top-buttons{
        display: flex;
        justify-content: end;
        img{
            border-radius: 5px;

            width: 40px;
        }
    }

   
}

.animate-icon{
    background: #000000;
    width: 100vh;
    height: 100vh;
    position: relative;
    z-index: 99999;
}

.company{
    background-color: $base_color;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    padding: 6px;
}
.emblemContainer{
    height: 100%;
}
.emblemEdited{
   height: auto !important;
}




.appointment-title{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 8px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    button{
        background: #e8c398;
        width: 70%;
        border-radius: 24px;
        color: #FFF;
        a{
            color: #FFF;
            padding: 0 !important;
            margin: 0 !important
        }
    }
}