<!-- 
<div class="container">
  <img class="img" src="../assets/gamer.gif" alt="image">
  <h2 class="text name-company">| Chilling Game |</h2>
  <p class="text">- El G.O.A.T. de los Gamer -</p>
  <br>
  <br>
  <h2 class="text">Nuestra web esta en construcción, escríbenos.</h2>

  <button type="button" class="nes-btn is-success" (click)="goToWhatsapp()">
    <i class="nes-icon whatsapp is-small"></i> 
    Pulsa aquí para Whatsapp</button>
    <img class="hand-img" src="../assets/hand.gif" alt="hand">
</div> -->
<app-formal-template></app-formal-template>